* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.JPG);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 15px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 22px; 
    position: relative;
    font-weight: bold;
}

nav ul li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: #780aa7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav ul li a:hover::after {
    width: 100%;
}

#header h1 {
    margin-top: 20px;
    font-size: 80px;
    font-weight: 550;
}

.logo {
    margin-top: 20px;
    font-size: 80px;
    font-weight: 550;
}

#about {
    padding: 40px 0;
    position: relative;
}

#about::after {
    content: '';
    background: #780aa7;
    width: 94%;
    height: 3px;
    left: 3%;
    bottom: 0px;
    position: absolute;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
}

.about-col-1 img {
    width: 100%;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
}

.about-col-2 h1{
    font-size: 50px;
}

.about-col-2 h1::first-letter{
    color: #780aa7;
}

.about-description{
    margin-top: 13px;
    line-height: 20px;
    word-spacing: 1px;
    color: darkgrey;
}

.tab-titles {
    display: flex;
    margin: 20px 0 40px;
}

.tab-links {
    margin-right: 60px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    position: relative;
}
.tab-links:after {
    content: '';
    width: 0%;
    height: 3px;
    background: #780aa7;
    position: absolute;
    left: 0;
    bottom: -8%;
    transition: 0.5s;
}

.tab-links.active-link:after {
    width: 100%
}

.tab-contents {
    display: none;
}

.tab-contents.active-content {
    display: block;
}

#education ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.highlight {
    color: #780aa7;
}

.tab-contents span {
    font-size: 16px;
}

#dot {
    font-size: 22px;
}

.tab-contents p {
    font-size: 15px;
}

.con {
    font-weight: 500;
}  

#awards ul li{
    list-style: none;
    margin: 20px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.link {
    margin: 20px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

#awards .highlight {
    font-size: 16px;
}

.projects {
    position: relative;
    padding: 40px 0;
}

.projects::after {
    content: '';
    background: #780aa7;
    width: 94%;
    height: 3px;
    left: 3%;
    position: absolute;
}

.proj {
    font-size: 50px;
}

.proj::first-letter {
    color: #780aa7;
}

.project-col-1 {
    flex-basis: 40%;
}

.p-row img {
    width: 100%;
    
    border-radius: 15px;
}

.project-col-2 {
    flex-basis: 40%;
}


.p-row {
    margin-top: 3%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.projects span {
    font-size: 32px;
    cursor: pointer;
}

.selections {
    text-align: center;
}

.active-btn {
    color: #780aa7;
}

.projects h2 {
    margin-bottom: 8px;
}
