* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.fa-solid {
    color:#780aa7;
}

.fa-brands {
    color:#780aa7;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #080808;
    color: #fff;
}

#header {
    width: 100%;
    height: 100vh;
    background-image: url(images/background.JPG);
    background-size: cover;
    background-position: center;
}

.container {
    padding: 15px 5%;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    
}

nav ul li a{
    color:#fff;
    text-decoration: none;
    font-size: 22px; 
    position: relative;
    font-weight: bold;
}

nav ul li a::after{
    content: "";
    width: 0%;
    height: 3px;
    background: #780aa7;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

nav .fa-solid{
    color: #fff;
    cursor: pointer;
    display: none;
}

nav .fa-brands{
    cursor: pointer;
    display: none;
}

nav ul li a:hover::after {
    width: 100%;
}

#header h1 {
    margin-top: 20px;
    font-size: 80px;
    font-weight: 550;
}

.logo {
    margin-top: 20px;
    font-size: 80px;
    font-weight: 550;
}

.slogan {
    margin: 10vh 6%;
    text-align: right;
}

.slo {
    color: #fff;
    font-size: 90px;
    margin: -15px;
    font-weight: 550;
}

.slo::first-letter {
    color: #bd79db;
    font-size: 94px;
}

.fa-location-dot {
    color: #9f59be; 
}

.location {
    margin-top: 20px;
}

#about {
    padding: 40px 0;
    position: relative;
}

#about::after {
    content: '';
    background: #780aa7;
    width: 94%;
    height: 3px;
    left: 3%;
    bottom: 0px;
    position: absolute;
}

.row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1 {
    flex-basis: 35%;
    margin: 0 auto;
}

.about-col-1 img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-col-2 {
    flex-basis: 60%;
    margin: 0 auto;
}

.about-col-2 h1{
    font-size: 50px;
}

.about-col-2 h1::first-letter{
    color: #780aa7;
}

.about-description{
    margin-top: 13px;
    line-height: 20px;
    word-spacing: 1px;
    color: darkgrey;
}

.tab-titles {
    display: flex;
    margin: 20px 0 ;
}

.tab-links {
    margin-right: 60px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    color: #fff;
    position: relative;
}
.tab-links:after {
    content: '';
    width: 0%;
    height: 3px;
    background: #780aa7;
    position: absolute;
    left: 0;
    bottom: -8%;
    transition: 0.5s;
}

.tab-links.active-link:after {
    width: 100%
}

.tab-contents {
    display: none;
}

.tab-contents.active-content {
    display: block;
}

#education ul li{
    list-style: none;
    margin: 20px 0 ;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

#competencies ul li{
    list-style: none;
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
}

.highlight {
    color: #780aa7;
}

.tab-contents span {
    font-size: 16px;
}

#dot {
    font-size: 22px;
}

.tab-contents p {
    font-size: 15px;
}

.con {
    font-weight: 500;
}  

#awards ul li{
    list-style: none;
    margin: 20px 0 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}

.link {
    margin: 20px 0;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}

.fa-arrow-up-right-from-square {
    color: #780aa7;
}

#awards .highlight {
    font-size: 16px;
}

#projects {
    position: relative;
    padding: 40px 0;
}

#projects::after {
    content: '';
    background: #780aa7;
    width: 94%;
    height: 3px;
    left: 3%;
    bottom: 0px;
    position: absolute;
}

.proj {
    font-size: 50px;
}

.proj::first-letter {
    color: #780aa7;
}

.p-row {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.project-col {
    position: relative;
    overflow: hidden;
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.image img {
    margin: 0 auto;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    border-radius: 15px;
    transition: transform 0.5s;
    overflow: hidden;
}

.image {
    position: relative;
    width: 75%;
    height: auto;
    aspect-ratio: 1;
    margin: 0 auto;
    margin-top: 10px;
    overflow: hidden;
    border-radius: 15px;
}

#projects span {
    font-size: 32px;
    cursor: pointer;
}

.selections {
    text-align: center;
}

.active-btn {
    color: #780aa7;
}

.plink {
    color: #fff;
    text-decoration: none;
    font-size: 24px;
    font-weight: 550;
}

.layer {
    opacity: 0;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    background: linear-gradient(rgba(0,0,0,0.8), #290339);
    border-radius: 15px;
    left: 0;
    top: 0px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    line-height: 20px;
}

.layer h3 {
    margin-bottom: 10px;
    font-size: 20px;
}

.layer a {
    margin-top: 20px;
    width: 60px;
    height: 60px;
    background: #fff;
    border-radius: 50%;
    justify-content: center;
    text-align: center;
    line-height: 60px;
    font-size: 24px;
}

.image:hover img{
    transform: scale(1.1);
}

.image:hover .layer {
    transition: opacity 0.5s ease-in;
    opacity: 1;
}

#connect {
    padding: 20px 0;
}

.c-row {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.c-left {
    flex-basis: 35%;
}

.c-right {
    flex-basis: 50%;
    margin: 0 auto;
}

.c-left p {
    margin: 20px 10px;
}

.c-left .c {
    font-size: 20px;
}

.social-icons {
    margin-top: 40px;
}

.social-icons a {
    font-size: 35px;
    margin: 20px 5px;
    display: inline-block;
    transition: trasnform 0.5s;
}

.social-icons a:hover {
    transform: translateY(-7px);
}

.info {
    margin-top: 40px;
}

.c-right form {
    width: 100%;
    margin-top: 15px;
    text-align: center;
    justify-content: center;
    position: relative;
}

form input, form textarea {
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin-bottom: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 550;
    border-radius: 6px;
    position: relative;
}

.sub-btn {
    
    display: block;
    margin: 0 auto;
    background: #780aa7;
    border: 0;
    text-align: center;
    padding: 15px 50px;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    margin: 0 auto;
    cursor: pointer;
}

.sub-btn:hover {
    font-weight: 600;
    padding: 15px 47.5px;
}

.copyright {
    text-align: center;
    width: 100%;
    padding: 18px;
    background: #262626;
    font-weight: 300;
}

#msg {
    display: block;
    position: absolute;
    text-align: center;
    color: green;
    margin: 10px;
}

.line {
    display: flex;
}

#about .cont {
    font-size: 18px;
    font-weight: 600;
}

@media only screen and (max-width: 1080px) {
    nav .fa-solid {
        display: block;
        font-size: 25px;
    }

    nav .fa-brands {
        display: block;
        font-size: 25px;
    }

    nav .fa-bars {
        margin-top: 10px;
    }
    
    nav ul li a::after{
        background: #fff;
    }

    nav ul {
        background: #780aa7;
        position: fixed;
        top: 0;
        right: -150px;
        width: 150px;
        height: 100vh;
        padding-top: 50px;
    }

    nav ul li {
        display: block;
        margin: 25px;
    }

    nav ul .fa-xmark {
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
        color: #fff;
    }

    nav ul .fa-linkedin {
        position: absolute;
        bottom: 25px;
        left: 10px;
        cursor: pointer;
        color: #fff;
    }
    nav ul .fa-github {
        position: absolute;
        bottom: 25px;
        left: 40px;
        cursor: pointer;
        color: #fff;
    }
    nav ul .fa-instagram {
        position: absolute;
        bottom: 25px;
        left: 73px;
        cursor: pointer;
        color: #fff;
    }
    nav ul .fa-laptop-code {
        color: #fff;
        position: absolute;
        bottom: 25px;
        left: 103px;
        cursor: pointer;
        
    }

    nav #menu {
        transition: 0.5s;
    }
}

@media only screen and (max-width: 870px) {
    .line {
        display: block;
        margin: 5px;
    }
}

@media only screen and (max-width: 790px) {
    .about-col-1 {
        flex-basis: 50%;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {

    #header {
        background-image: url("images/small.jpeg");
    }

    .logo {
        margin-left: 10px;
        font-size: 50px;
    }

    #header h1 {
        font-size: 60px;
    }

    .slo {
        font-size: 60px;
    }
    .slo::first-letter {
        font-size: 64px;
    }
    .slogan {
        margin-top: 20vh;
    }

    .about-col-1 {
        flex-basis: 60%;
        margin-bottom: 20px;
    }

    .tab-links {
        font-size: 16px;
        margin-right: 20px;
    }
}

@media only screen and (max-width: 450px) {
    .c-left, .c-right {
        flex-basis: 100%;
    }

    .about-col-1 {
        flex-basis: 100%;
    }
}

@media only screen and (max-width: 380px) {
    .logo {
        margin-left: 10px;
        font-size: 40px;
    }

    #header h1 {
        font-size: 50px;
    }
}

@media only screen and (max-height: 500px) {
    .slogan {
        display: none;
    }
}